@import 'lib/iconfont/iconfont';
@import 'common2/layer';
@import 'modules2/wxstyle';
@import 'widgets2/form';
@import 'widgets2/navbar';
@import 'widgets2/toast';
@import 'widgets2/weui-badge';
@import 'common2/icon';
@import 'common2/button';
@import 'common2/footer';
@import 'widgets2/toptips';
@import 'skin01';
@import 'skin03';
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
} /*ͳһ�������Ĭ�ϴ�С*/
/*clear*/
.clear {
  overflow: hidden;
  clear: both;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
}

.cf:before,
.cf:after {
  content: '';
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
