@theme-color1: #2a9ce8;
@theme-dark-color1: #268cd0;
@theme-thin-color1: #d4ebfa;
@theme-dis-color1: #95cef4;
@import 'modules2/wxstyle';
.skin01 {
  .page {
    .theme-color {
      color: @theme-color1;
    }
    .weui-btn_primary {
      background-color: @theme-color1;
      &.weui-btn_disabled {
        background: @theme-dis-color1;
      }
    }
    .weui-btn_plain-primary {
      color: @theme-color1;
      border-color: @theme-color1;
      &:not(.weui-btn_plain-disabled):active {
        background: @theme-thin-color1;
        color: @theme-color1;
        border-color: @theme-color1;
      }
      &.weui-btn_plain-disabled {
        color: @theme-dis-color1;
        border-color: @theme-dis-color1;
      }
    }

    .weui-btn_primary:not(.weui-btn_disabled):active {
      background-color: @theme-dark-color1;
    }

    .weui-switch:checked,
    .weui-switch-cp__input:checked ~ .weui-switch-cp__box {
      border-color: @theme-color1;
      background-color: @theme-color1;
    }
    /*ҽ����ҳ*/
    &.wenzhen {
      .weui-navbar.style1 {
        .iconfont-weibiaoti,
        .iconfont-star1 {
          color: @theme-color1;
        }
      }
      .headicon {
        span {
          background: url('../res/img/skin/01/label-online.png') no-repeat 0 0;
          -webkit-background-size: contain;
          background-size: contain;
        }
        &.off {
          span {
            background: url('../res/img/label-offline.png') no-repeat 0 0;
            -webkit-background-size: contain;
            background-size: contain;
          }
        }
      }

      .doc-list
        .weui-panel
        .weui-media-box
        .weui-media-box__bd
        .weui-media-box__desc
        span.price {
        color: @theme-color1;
        i {
          color: @theme-color1;
        }
      }

      &.docselect
        .docselect-dialog
        .weui-dialog
        .weui-flex
        .weui-flex__item
        .weui-cells
        .weui-cell.active {
        color: @theme-color1;
      }
      &.docselect .types {
        .weui-cell {
          color: @theme-color1;
        }
      }
      &.docinfo {
        .weui-panel_access {
          .weui-panel__hd {
            &.style1 .weui-cell__ft {
              color: @theme-color1;
              .iconfont-h-arr-r {
                color: @theme-color1;
              }
            }
          }
        }
      }
      &.form-wrap {
        .weui-cells + .weui-cells_checkbox {
          .weui-cell__bd {
            .weui-agree__text {
              a {
                color: @theme-color1 !important;
              }
            }
          }
        }
      }
    }

    .weui-cells.weui-cells_checkbox
      .weui-cell__hd
      .weui-check:checked
      + .weui-icon-checked:before {
      color: @theme-color1;
    }
    .weui-actionsheet
      .weui-actionsheet__action
      .weui-actionsheet__cell.actionsheet__cell_primary {
      color: @theme-color1;
    }
    .weui-actionsheet
      .weui-actionsheet__menu
      .weui-actionsheet__cell.flex
      .weui-actionsheet__cell__ft
      a
      i {
      color: @theme-color1;
    }
    &.huifu-wrap .weui-msg__extra-area.oper .weui-footer a:last-child {
      color: @theme-color1;
    }
    &.wenzhen-manage.rtx-wrap
      .page__bd
      .weui-navbar
      .weui-navbar__item.weui-bar__item_on {
      color: @theme-color1;
      &:before {
        border-bottom-color: @theme-color1;
      }
    }
    .link-label a.current,
    .link-label a:active {
      background: @theme-color1;
    }
    .link-label a.dis.current,
    .link-label a.dis:active {
      background: @csui-grav1;
      color: @csui-888;
    }
    &.chat-wrap {
      .chat-dialog-wrap.right .chat-dialog .message {
        background: @theme-color1;
        &:before {
          background: url(../res/img/skin/01/chatdialog-icor.png) no-repeat 0 0;
          -webkit-background-size: contain;
          background-size: contain;
        }
      }
      .chat-dialog-wrap.dialog-px .chat-dialog .message {
        background: @csui-fff;
        p.pxlogo {
          background: @theme-color1;
        }
      }

      .chat-dialog-wrap.dialog-report {
        .ico-report {
          background: url(../res/img/skin/01/ico-report.png) no-repeat 0 0;
          -webkit-background-size: contain;
          background-size: contain;
        }
        &.pingjia {
          .chat-hint-layer
            .weui-panel
            .weui-panel__ft
            .weui-cell_link
            .weui-cell__bd
            span {
            color: @theme-color1;
          }
        }
      }

      .page__ft .weui-cells.oper .weui-cell__bd .weui-textarea + a i,
      .chat-wrap .page__ft .weui-cells.oper .weui-cell__bd textarea + a i {
        color: @theme-color1;
      }
      .page__ft .weui-media-box .weui-media-box__ft h4,
      .page__ft .weui-media-box .weui-media-box__ft p {
        color: @theme-color1;
      }
    }
  }
  .weui-dialog__btn_primary {
    color: @theme-color1;
  }
  .pro-dialog .weui-dialog .weui-dialog__hd:after {
    border-bottom: 1px solid @theme-color1;
    color: @theme-color1;
  }
  .pro-dialog .weui-dialog .weui-dialog__ft .weui-dialog__btn_primary {
    color: @theme-color1;
  }
  /*Ĭ��ͷ��*/
  .chat-dialog-wrap .chat-dialog .face {
    &.doct {
      background: url(../res/img/skin/01/ico-doctor-normal.png) no-repeat 0 0;
      -webkit-background-size: contain;
      background-size: contain;
    }
    &.pat {
      background: url(../res/img/skin/01/ico-patient-normal.png) no-repeat 0 0;
      -webkit-background-size: contain;
      background-size: contain;
    }
  }
  .headicon {
    background: url(../res/img/skin/01/ico-doctor-normal.png) no-repeat 0 0;
    -webkit-background-size: contain;
    background-size: contain;
    &.pat {
      background: url(../res/img/skin/01/ico-patient-normal.png) no-repeat 0 0;
      -webkit-background-size: contain;
      background-size: contain;
    }
  }
  .docinfo-sum {
    background: url(//beta.gtimg.com/hospital_img/static/res/skin/01/infobg2.png)
      no-repeat center bottom;
    -webkit-background-size: cover;
    background-size: cover;
    .weui-panel {
      .weui-panel__hd {
        .headicon {
          span {
            background: @csui-fff;
            color: @theme-color1;
          }
          &.off {
            span {
              background: @csui-grav1;
              color: @csui-888;
            }
          }
        }
      }
    }
  }
  .zixunlist {
    .weui-grids .weui-grid {
      .weui-grid__label small {
        color: @theme-color1;
      }
      .weui-grid__icon i {
        color: @theme-color1;
      }
    }
  }
  /*ҽ����*/
  .doc-wrap {
    .docinfo-sum {
      background: url(//beta.gtimg.com/hospital_img/static/res/skin/01/doc-inputbg.png)
        no-repeat center bottom;
      -webkit-background-size: cover;
      background-size: cover;
    }
    .index .docinfo-sum {
      background: url(//beta.gtimg.com/hospital_img/static/res/skin/01/infobg2.png)
        no-repeat center bottom;
      -webkit-background-size: cover;
      background-size: cover;
      .panel-hint
        .weui-cells_form
        .weui-cell_switch
        .weui-cell__ft
        .weui-switch:checked:after {
        background: @theme-color1;
      }
    }
    .pj-total {
      border-bottom-color: @theme-color1;
    }
    &.pat-wrap {
      .patlist .weui-cell:before {
        background: @theme-color1;
      }
      .pat-detail .docinfo-sum {
        background: url(//beta.gtimg.com/hospital_img/static/res/skin/01/infobg2.png)
          no-repeat center top;
      }
    }
    &.task-wrap {
      .tastlist .item .item-ft .statu-hf {
        color: @theme-color1;
        &.warn {
          color: @csui-fa0;
        }
      }
    }
  }
  .weui-tabbar .weui-tabbar__item.weui-bar__item_on i.weui-tabbar__icon,
  .weui-tabbar .weui-tabbar__item:active i.weui-tabbar__icon,
  .weui-tabbar .weui-tabbar__item.weui-bar__item_on .weui-tabbar__icon > i,
  .weui-tabbar .weui-tabbar__item:active .weui-tabbar__icon > i,
  .weui-tabbar .weui-tabbar__item.weui-bar__item_on .weui-tabbar__label,
  .weui-tabbar .weui-tabbar__item:active .weui-tabbar__label {
    color: @theme-color1;
  }
  .weui-actionsheet .toolbar a.theme-color {
    color: @theme-color1;
  }
  .weui-navbar .weui-navbar__item.weui-bar__item_on {
    color: @theme-color1;
    &:before {
      border-bottom-color: @theme-color1;
    }
  }
  /*ico*/
  .ico-wz1 {
    background-image: url('//beta.gtimg.com/hospital_img/static/res/skin/01/ico-wz1.png');
    -webkit-background-size: cover;
    background-size: cover;
  }
  .ico-wz2 {
    background-image: url('//beta.gtimg.com/hospital_img/static/res/skin/01/ico-wz2.png');
    -webkit-background-size: cover;
    background-size: cover;
  }
  .ico-wz3 {
    background-image: url('//beta.gtimg.com/hospital_img/static/res/skin/01/ico-wz3.png');
    -webkit-background-size: cover;
    background-size: cover;
  }

  /*px-wrap*/
  .px-wrap {
    .px-detail .weui-panel__bd {
      .weui-media-box {
        .weui-media-box__title.weui-flex .right a i {
          color: @theme-color1;
        }
        .statu.style1 {
          background: @theme-thin-color1;
          color: @theme-color1;
          border-color: @theme-color1;
        }
        .statu.style2 {
          color: @theme-color1;
        }
      }
    }
    .searchbar {
      .searchbar-result .weui-flex em {
        color: @theme-color1;
      }
      & + .weui-cell_link {
        color: @theme-color1;
      }
    }
  }
  /*report*/
  .report-wrap.report-bill
    .weui-form-preview.style2
    .weui-form-preview__bd
    .item
    .item-title:before {
    background: @theme-color1;
  }
}
